@font-face {
    font-family: "80k";
    font-weight: 400;
    src: url("../fonts/80-kb-Sharp.woff2") format("woff2");
}

@font-face {
    font-family: "80k-Stencil";
    font-weight: 400;
    src: url("../fonts/80-kb-Stencil.woff2") format("woff2");
}

@font-face {
    font-family: "SimplerAlte";
    font-weight: 400;
    src: url("../fonts/SimplerPro_Alte-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "SimplerAlte";
    font-weight: 700;
    src: url("../fonts/SimplerPro_Alte-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "DavidVC";
    font-weight: 600;
    src: url("../fonts/VC_david-Light.woff2") format("woff2");
}

@font-face {
    font-family: "DavidVC";
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/VC_david-Cursive.woff2") format("woff2");
}

@font-face {
    font-family: "DavidVC";
    font-weight: 700;
    src: url("../fonts/VC_david-Bold.woff2") format("woff2");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

iframe {
    border: none;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    border: 1px solid black;
    color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: 1em;
    word-break: break-word;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

details summary::marker {
    content: none;
}

::-webkit-details-marker {
    display: none;
}

fieldset {
    padding: 0;
    border: none;
    min-inline-size: 0;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "80k", sans-serif;
    line-height: 1.2;
    font-weight: 400;
    color: var(--black-clr);
    background-color: var(--top-clr);
    padding-bottom: 80px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4 {
    font-family: "80k", sans-serif;
    font-weight: 400;
}

.logout {
    position: fixed;
    bottom: 20px;
    left: 20px;
    transform-origin: top left;
    transform: rotate(-90deg);
    font-family: "80k", sans-serif;
    font-size: 1.5rem;
}

.logout a::before {
    content: "× ";
}

.intro {
    width: var(--100vh);
    position: fixed;
    top: 20px;
    left: 0;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100%);
    font-size: 1.5rem;
}

.alert,
.alerts {
    color: red;
    margin-bottom: 20px;
}

.notice {
    font-size: 30px;
    max-width: 52ch;
}

.intro,
.notice,
.login {
    padding: 20px;
}

.login form {
    max-width: 480px;
    margin-inline-end: 40px;
}

.countdown {
    font-family: "80k", sans-serif;
}

input[type="submit"] {
    appearance: none;
    background-color: #3a280d;
    color: #b8d0d4;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 2px;
    height: 2.5rem;
    text-align: center;
    width: 100%;
    margin: 10px 0;
}

.success>p {
    font-weight: bold;
}

.success ul {
    margin: 10px 0;
    font-family: "80k", sans-serif;
}

form>h2,
form>p {
    margin-bottom: 10px;
}

form>h2:first-child {
    margin-bottom: 20px;
}

form>p:has(label) {
    margin-bottom: 5px;
}

form>h2 {
    margin-bottom: 10px;
}


.select-container {
    position: relative;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    position: relative;
    appearance: none;
    line-height: 1.4;
    border-radius: 2px;
    height: 2.5rem;
    padding-inline: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    display: block;
    width: 100%;
}

textarea {
    height: 10rem;
}

form select {
    position: relative;
    appearance: none;
    line-height: 1.4;
    border-radius: 2px;
    height: 2.5rem;
    padding-inline: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    display: block;
    background-color: rgba(250, 250, 167, 1);
}

form .select-container::before {
    content: "->";
    font-family: "80k", sans-serif;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 100;
    pointer-events: none;
}

form select {
    width: 100%;
}

.form-comment {
    margin-bottom: 50px;
}

.faq details {
    margin-bottom: 10px;
    position: relative;
    border-top: 1px dashed #3a280d;
    padding-top: 10px;
}

.faq details:last-child {
    padding-bottom: 10px;
    border-bottom: 1px dashed #3a280d;
}

.faq-answer {
    margin-inline-start: 25px;
    padding-top: 10px;
}

.faq details summary {
    position: relative;
    margin-inline-start: 25px;
}

.faq details summary::before {
    content: "->";
    font-family: "80k", sans-serif;
    position: absolute;
    right: -25px;
    top: 0;
}

.faq details[open] summary::before {
    content: "<-";
}

.feedback-form {
    margin: 20px;
    max-width: 66ch;
}

.feedback-form .form-row {
    margin-bottom: 20px;
}

.feedback-form .form-row>label,
.feedback-form .question-label {
    display: block;
    margin: 0 0 10px;
}

.feedback-form .radio-block {
    display: flex;
    width: 100%;
}

.feedback-form .radio-block-choice {
    position: relative;
    display: block;
}

.feedback-form .radio-block-choice input {
    appearance: none;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.feedback-form .radio-block-choice input+label {
    display: block;
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.feedback-form .radio-block-choice input:checked+label {
    background-color: #3a280d;
    color: #b8d0d4;
}

.feedback-form .radio-block-choice:not(:last-child) input+label {
    border-inline-end: none;
}

.feedback-form .radio-block>* {
    flex: 1;
}

.workshop-sidebar {
    mix-blend-mode: darken;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery>* {
    width: 300px;
    height: 300px;
}

.gallery .workshop-title {
    background-color: #3a280d;
    color: #b8d0d4;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.gallery figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(0.8) sepia(1);
    mix-blend-mode: darken;
}

@media (max-width: 640px) {
    body {
        margin: 0;
    }

    .intro,
    .logout,
    .notice {
        font-size: 20px;
    }

    .intro {
        padding: 10px 0;
    }

    .logout {
        left: 10px;
    }

    .notice,
    form,
    .faq,
    .workshop {
        margin-inline-end: 40px;
    }
}

/* 
@media (min-width: 640px) {
    .workshops-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }
    
    .workshops-layout > form {
        position: sticky;
        top: 0;
    }

    .workshop-sidebar {
        position: sticky;
        top: 0;
    }    
}

@media (min-width: 960px) {
    .workshops-layout {
        grid-template-columns: 1fr 1fr;
    }
} */

/* pgmr.club */

:root {
    /* Typography */
    font-size: 15px;

    /* Colors */
    --white-bright-clr: #F9F5EF;
    --white-dark-clr: #EDE3D5;
    --black-clr: #7D4824;
    --top-clr: #7D4824;
    --monday-clr: #0038F0;
    --monday-bright-clr: #D1D8FA;
    --wednesday-clr: #E84CB6;
    --wednesday-bright-clr: #FFCBF5;

    /* strokes */
    --storke-width: 4px;
    --border: var(--storke-width) solid var(--black-clr);

    /* layers */
    --layer-0: 11;
    --layer-1: 10;
    --layer-2: 9;
    --layer-back: 0;
}

.link-to-top {
    position: fixed;
    top: 9px;
    left: 2px;
    transform: translateY(-150%);
    visibility: hidden;
    display: block;
    width: 3rem;
    margin-inline-start: auto;
    transition: transform 0.3s ease, visibility 0.3s ease;
    z-index: var(--layer-0);
}

body.passed-top .link-to-top {
    transform: translateY(0);
    visibility: visible;
}

.link-to-top>img {
    height: 20px;
}

.workshops-header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: -100px;
    z-index: var(--layer-1);
}

.workshops-header-label {
    display: flex;
    background-color: var(--top-clr);
    justify-content: center;
    align-items: center;
    height: 140px;
}

.workshops-header-label>img {
    max-height: 40%;
    max-width: 70%;
}

.workshops-header-days {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
    color: var(--white-bright-clr);
    height: 40px;
}

.workshops-header-days .workshops-header-day {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workshops-header-days .workshops-header-day:first-child {
    background-color: var(--monday-clr);
}

.workshops-header-days .workshops-header-day:last-child {
    background-color: var(--wednesday-clr);
}

.workshops-week-header {
    position: sticky;
    top: 80px;
    display: flex;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--white-dark-clr);
    border-bottom: var(--border);
    font-size: 1rem;
    color: var(--black-clr);
    z-index: var(--layer-2);
}

.workshops-week-header .week-header-date:first-child {
    color: var(--monday-clr);
}

.workshops-week-header .week-header-date:last-child {
    color: var(--wednesday-clr);
}

.workshops-week-lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.workshops-layout::after {
    content: "";
    position: fixed;
    top: 0;
    right: 50%;
    background: var(--black-clr);
    width: var(--storke-width);
    height: 100%;
    pointer-events: none;
}

.workshop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: 400px;
    width: 100%;
    padding: 19px 19px;
    background-color: var(--white-bright-clr);
    border-bottom: var(--border);
}

.workshops-list-monday .workshop-title,
.workshops-list-monday .workshop-description,
.workshops-list-monday .workshop-teacher,
.workshops-list-monday .workshop-rooms,
.workshops-list-monday .workshop-time {
    color: var(--monday-clr);
}

.workshops-list-wednesday .workshop-title,
.workshops-list-wednesday .workshop-description,
.workshops-list-wednesday .workshop-teacher,
.workshops-list-wednesday .workshop-rooms,
.workshops-list-wednesday .workshop-time {
    color: var(--wednesday-clr);
}

.workshops-list-monday .workshop-description,
.workshops-list-monday .workshop-teacher,
.workshops-list-monday .workshop-time,
.workshops-list-monday .workshop-tags {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed var(--monday-bright-clr);
}

.workshops-list-wednesday .workshop-description,
.workshops-list-wednesday .workshop-teacher,
.workshops-list-wednesday .workshop-time,
.workshops-list-wednesday .workshop-tags {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed var(--wednesday-bright-clr);
}

.workshop-title h2 {
    font-family: "SimplerAlte", sans-serif;
    font-weight: 700;
    line-height: 1.6rem;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.workshop-teacher li::before {
    content: "-";
    margin-left: 10px;
}

.workshop-tags ul {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    row-gap: 10px;
}

.workshop-tags li {
    width: fit-content;
    border-radius: 22px;
    padding: 0 9px;
}

.workshop-type ul {
    margin-bottom: 10px;
}

.workshop-type li {
    color: var(--black-clr);
    border: 1px solid var(--black-clr);
}

.workshops-list-monday .workshop-Target-audience li {
    color: var(--monday-clr);
    background-color: var(--monday-bright-clr);
}

.workshops-list-wednesday .workshop-Target-audience li {
    color: var(--wednesday-clr);
    background-color: var(--wednesday-bright-clr);
}

.apply-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--black-clr);
    border-radius: 12px;
    padding: 10px 0;

    width: 100%;
}

.apply-button h2 {
    font-family: "SimplerAlte", sans-serif;
    font-weight: 400;
    line-height: 1.6rem;
    font-size: 1.5rem;
}